body {
  background-color: #f4f4f4;
  margin-top: 50px;
  font-family: 'Lato';
}

.title {
  align-items: center;
  align-content: center;
  color: black;
}

.item {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border: transparent;
  border-radius: 5px;
  box-shadow: 0 0 1em #ccc;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  box-shadow: 0 0 1em #aaa;
}

.item.completed {
  text-decoration: line-through;
}

.toggles {
  color: black;
}

.name {
  padding-top: 3px;
}

.remove {
  padding-left: 0;
}

button:focus {
  border: 1px solid #333;
}
